<div class="row">
  <div class="col-sm-9">
    <h1>
      <%= @question.title %>
      <%= link_to "&#10000;".html_safe, edit_question_path(@question) %>
      <%= link_to "&#10006;".html_safe, question_path(@question), method: :delete, data: { confirm: "Are you sure?" } %>
    </h1>
    <p class="lead">
      <%= @question.description %>
    </p>
  </div>
  <div class="col-sm-3 question_show_details_container">
    <h1 class="">
      <small>
        asked <%= time_tag(@question.created_at) %>
        by <%=
          link_to full_name(
            @question.user.first_name,
            @question.user.last_name[0] << "."), user_path(@question.user
          )
        %>
      </small>
    </h1>
  </div>
</div>
<hr/>

<%= render "questions/answers" %>

<%= render "questions/answer_form" %>
